<template>
  <div class="a">
    <slot name="a" />
    <h1>Hello Vue</h1>
    <!-- 这里的msg33名字随意取 -->
    <slot name="b" :msg33="msg3" />
  </div>
</template>
<script>
export default {
    data(){
        return{
            msg3:'88888888866'
        }
    }
}
</script>
<style scoped>
h2 {
  background: #f5c700;
}
</style>