<template>
  <div id="vuevueNativeShare">
    <div class="label">分享到 {{str}}</div>

    <button @click="sharebutton">分享的价位覅金额覅</button>
  </div>
</template>



<script>

// import axios from "axios"

import gameData from "../getData"

console.log("hhh",gameData)

export default {
  name: 'the-sharebar',
  data() {
    return {
      shareButtons:[
        {text: '微信好友', vueNativeShare:'wechatFriend', m_share: 'wx' , src:('../assets/logo.png')},
        {text: '朋友圈', vueNativeShare:'wechatTimeline', m_share: 'wxline', src: ('../assets/logo.png')},
        {text: '新浪微博', vueNativeShare:'weibo', m_share: 'sina', src: ('../assets/logo.png')},
        {text: 'QQ好友', vueNativeShare:'qqFriend', m_share: 'qq', src: ('../assets/logo.png')},
        {text: 'QQ空间', vueNativeShare:'qZone', m_share: 'qzone', src: ('../assets/logo.png')},
        {text: '更多', vueNativeShare:'', m_share: '', src: ('@/assets/more.png')},
      ],
      str:235
    }
  },


  created(){
    console.log("aa",this.mqq.platform)

    const share = {
      title: '分享标题，最大45字节',
      desc: '分享内容，最大60字节',
      image_url: '图片URL',
      share_url: '分享链接'
    };


    this.mqq.invoke("data","setShareInfo", {
        title: 'H5应用',
        desc: 'H5开放平台',
        image_url: 'http://i.gtimg.cn/open/app_icon/05/58/35/77/1105583577_100_m.png'
    }); 



    
   
  },

  methods:{
    sharebutton(){
      
      let platform = this.mqq.platform
      console.log("platform",platform)
     

      //inject wxjs but still not found image

    }
  },




}
</script>

<style scoped>
#vuevueNativeShare {
    font-size: 13px;
}

  .label {
      font-size: 18px;
  }

    .list-item {
        width: 30%;
        display: inline-block;
        text-align: center;
        margin: 10px 0;
    }

      .i {
          width: 40px;
          height: 40px;
          display: block;
          margin: 0 auto;
          margin-bottom: 5px;
          background-size: cover;
      }
</style>
