<template>
    <div>
        <div>首页</div>
        <button @click="share">分享给微信好友</button>
        <button @click="share">分享到朋友圈</button>
        bu
        <router-link to="/good">商品</router-link>
        <router-link to="/music">音乐</router-link>
        <router-view></router-view>
    </div>
  
</template>

<script>

import wxapi from "../utils/share"

export default {
    name:"Index",
    created() {
     
    },
    mounted() {
        wxapi.wxRegister(this.wxRegCallback)
    },
    methods:{
        wxRegCallback () {
            // 用于微信JS-SDK回调
            //this.wxShareTimeline()
            this.wxShareAppMessage()
        },
        wxShareTimeline () {
        // 微信自定义分享到朋友圈
            let option = {
                title: '挑战最低价', // 分享标题, 请自行替换
                link: window.location.href.split('#')[0], // 分享链接，根据自身项目决定是否需要split
                //imgUrl: 'logo.png', // 分享图标, 请自行替换，需要绝对路径
                success: () => {
                alert('分享成功')
                },
                error: () => {
                alert('已取消分享')
                }
            }
            // 将配置注入通用方法
            wxapi.ShareTimeline(option)
        },
        wxShareAppMessage () {
            // 微信自定义分享给朋友
            let option = {
                title: '限时团购周', // 分享标题, 请自行替换
                desc: '限时团购周 挑战最低价', // 分享描述, 请自行替换
                //link: window.location.href.split('#')[0], // 分享链接，根据自身项目决定是否需要split
                //imgUrl: 'logo.png', // 分享图标, 请自行替换，需要绝对路径
                success: () => {
                alert('分享成功')
                },
                error: () => {
                alert('已取消分享')
                }
            }
            // 将配置注入通用方法
            wxapi.ShareAppMessage(option)

        },
        share(){
           this.wxShareAppMessage()
        }
         
    }

}
</script>

<style>

</style>