<template>
  <div>
    音乐页5566888
    <!-- <button @click="share1">分享</button>
    <button @click="share2">分享给微信朋友</button>
    <button @click="share3">分享到朋友圈</button> -->
   
     <button style="background:yellow;color:#fff">分享qq</button>
    
  </div>
</template>

<script>
// <script src="//open.mobile.qq.com/sdk/qqapi.js"></script>
//const qq = require("//open.mobile.qq.com/sdk/qqapi.js")
//  import qq from "//open.mobile.qq.com/sdk/qqapi.js"
window.console.log("qq",qq)
console.log(23333)
var ftit = '分享测试标题'; // 分享出去得文章得标题
var flink = ''; // 分享出去logo

import apisdk from "../utils/sdk"
let isUC = navigator.userAgent.indexOf('UCBrowser') > -1
let isQQ = new RegExp('MQQBrowser').test(navigator.userAgent)
const sharedate = {
  icon: 'https://pic3.zhimg.com/v2-080267af84aa0e97c66d5f12e311c3d6_xl.jpg',
  //link: 'http://app-h5.1216.top/#/gamesay?id=0-61e5b-0k40ro01e',
  link:"www.baidu.com",
  title: '哈哈哈哈',
  desc: '一款好玩的游戏',
  from: '中传互动',

}
export default {
  name: 'music',
  
  data() {
    return {
      
    }
  },
  created(){
    console.log("what")
      const share = {
          title: '分享标题，最大45字节',
          desc: '分享内容，最大60字节',
          // image_url: '图片URL',
          // share_url: '分享链接'
      };
      window.console.log("this",this)
      // mqq.data.setShareInfo(share, function(){
      //   window.console.log("哈哈哈")
      // });
  },
  mounted(){
   //apisdk.setShareData(sharedate)
  },
  methods:{}
    

  //   share1(){
     
  //     apisdk.call('default')
  //   },
  //   share2(){
  //     if(isUC||isQQ){
  //        apisdk.call('wechatFriend')
  //     }else{
  //       alert("请用该浏览器自带分享功能分享")
  //     }
     

  //   },
  //   share3(){
  //      if(isUC||isQQ){
  //         apisdk.call('wechatTimeline')
  //     }else{
  //       alert("请用该浏览器自带分享功能分享")
  //     }
    

  //   },
  //   shareqq(){
  //     window.open('https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + encodeURIComponent(document.location) + '?sharesource=qzone&title=' + ftit + '&pics=' + flink + '&summary=' + '');

  //   }
  // }

  
}
</script>

<style scoped>

</style>
