<template>
  <div id="app">
    	<keep-alive>
      <router-view v-if="$route.meta.keepAlive"></router-view>
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive"></router-view>

      <!-- slot已过时
     <A>
      <div slot="a">
        <h2>{{msg1}}</h2>
      </div>
      <div slot="b">
        <h2>{{msg2}}</h2>
      </div>
    </A>-->
    <A>
      <!-- 
        1.这里的v-slot后面的值a,b可以随便取，子组件slot中的name要对应该值。
        2.还有msg1和msg2只能由当前的App.vue提供，不能由A.vue提供
        3.在template外写其他东西，是不会显示的。
      -->
      <template v-slot:a>
        <h2>{{msg1}}</h2>
      </template>
      <!-- 添加scope后，子组件可以传值向父组件传值 -->
      <template v-slot:b="scope">
        <h2>{{msg2}}</h2>
        <h2>{{scope.msg33}}</h2>
      </template>
    </A>

  </div>
</template>

<script>
import A from "./components/A"

export default {
  name: 'App',
   data() {
    return {
      msg1: "23333",
      msg2: "666666"
    };
  },
  components:{A},
  created(){
    console.log("router",this.$route)
  }
}
</script>

<style>
